<nav class="navbar" id="nav">
	<a href="#" class="navbar-brand">
		{{log @runtimeOptions}}
		Discobot
	</a>

	<ul class="navbar-nav d-none d-md-flex w-full">
		<li class="nav-item {{#if (eq title "Home")}}active{{/if}}">
			<a href="/" class="nav-link">Home</a>
		</li>
		<li class="nav-item {{#if (eq title "Dashboard")}}active{{/if}}">
			<a href="/dashboard" class="nav-link">Dashboard</a>
		</li>
		{{#if user}}
			{{#with user}}
			<div class="dropdown with-arrow ml-auto h-full">
				<button class="btn h-full d-inline-flex align-items-center" data-toggle="dropdown" type="button">
					<span class="pr-5">{{username}}</span>
					<img class="img-fluid rounded h-half" src="https://cdn.discordapp.com/avatars/{{id}}/{{avatar}}" alt="avatar">
					<i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/logout">Logout</a>
					<a class="dropdown-item" href="/reloadguilds">Reload guilds</a>
				</div>
			</div>
			{{/with}}
		{{else}}
			<a class="btn btn-primary ml-auto" href="/login"><i class="fab fa-discord pr-5"></i> Login</a>
		{{/if}}
	</ul>
	<div class="navbar-content d-md-none ml-auto">
	<div class="dropdown with-arrow">
		<button class="btn" data-toggle="dropdown">
			Menu
			<i class="fa fa-angle-down"></i>
		</button>
		<div class="dropdown-menu dropdown-menu-right w-200">
			<a href="#" class="dropdown-item">Docs</a>
			<a href="#" class="dropdown-item">Products</a>
            <div class="dropdown-divider"></div>
			{{#if user}}
           		<div class="dropdown with-arrow">
					<button class="btn" data-toggle="dropdown">
						{{user.username}}
						<i class="fa fa-angle-down"></i>
					</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/logout">Logout</a>
					<a class="dropdown-item" href="/reload">Reload</a>
				</div>
				</div>
			{{else}}
				<button href="/login" class="btn btn-primary"><i class="fab fa-discord pr-5"></i> Login</button>
			{{/if}}
			</div>
		</div>
	</div>
</nav>